.content-aboutus {
    background-image: url(../img/aboutus-baner.png);
    background-position: center;
    background-size: cover;
    height: 800px;
    padding: 0;
}

.Image-aboutus {
    width: 100%;
    height: 100%;
}

.Paragraf img {
    max-width: 10%;
    margin-top: 15%;
}

.hashtag {
    padding: 0 20px 0 0;
    margin-top: 50px;
    text-align: end;
    font-size: 25px;
    letter-spacing: .1em;
}

.containerContentAbout{
    display: flex;
    float: left;
    justify-content: flex-end;
    padding: 0;
    gap: 50px;
    margin-bottom: 50px;
}

.contentAbout{
    width: 40%;
    margin-top: 20px;
}

.contentAbout h1 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}

.contentAbout p {
    margin-bottom: 30px;
}

.contentAbout img{
    width: 800px;
    height: 550px;
}

.contentAbout2 {
    margin-top: 55px;
}

.hashtag2 {
    padding: 0 20px 0 0;
    text-align: end;
    font-size: 25px;
    letter-spacing: .1em;
    margin-bottom: 10px;
}

.containerVisiMission {
    padding: 0;
}

.visionMission {
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
}

.textVisiMission h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    letter-spacing: .1em;
}
.textVisiMission p {
    width: 100%;
    margin-left: 0px;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    letter-spacing: .1em;
}

.imgVisiMission {
    width: 100%;
}

.containerOurService{
    margin-top: 50px;
}

.ourService{
    display: flex;
    gap: 20px;
}

.card {
    border: none;
    background: none;
    box-shadow: none;
}
.card h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .1em;
    margin-bottom: 40px;
}
.card img {
    margin-bottom: 40px;
}
.card p {
    text-align: start;
}