.contArtikel {
    padding: 0;
    top: 0;
}

.containerArtikel {
    margin-top: 65px;
}

.artikel {
    max-width: 100%;
    display: flex;
    /* justify-content: center; */
}

.textArtikel {
    position: relative;
    left: 200px;
    top: 450px;
}
.textArtikel p {
    width: 50%;
    text-align: justify;
}
.embedInstagram {
    width: auto;
    background-color: #F4EDE1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}