.contArtikel{
    padding: 0;
}

.containerArtikel {
    display: flex;
    margin-top: 100px;
}

.mortaraArtikel img{
    position: relative;
    max-width: 70%;
    top: 80%;
    margin-left: 30px;
}

.textArtikel p {
    position: relative;
    width: 70%;
    top: 50%;
}

.taglineArtikel p {
    font-size: 20px;
    text-align: end;
    letter-spacing: .1em;
}

.embedInstagram {
    width: auto;
    background-color: #F4EDE1;
    padding: 20px;
}

@media (max-width : 1500px) {

    .mortaraArtikel img {
        max-width: 100%;
    }
}

@media (max-width : 1400px) {

    .textArtikel p {
        width: 100%;
    }
}

@media (max-width : 1300px) {
    
    .containerArtikel {
        flex-direction: column;
    }

    .mortaraArtikel img {
        max-width: 15%;
        margin-top: 20px;
    }

    .textArtikel p {
        padding: 40px;
    }

    .embedInstagram {
        display: flex;
        justify-content: center;
    }
}

@media (max-width : 1080px) {

    .containerArtikel{
        flex-direction: column;
    }

    .mortaraArtikel img {
        max-width: 20%;
        margin-top: 20px;
    }
    
    .textArtikel p {
        width: 100%;
        padding: 40px;
    }

    .embedInstagram {
        display: flex;
        justify-content: center;
    }
}

@media (max-width : 800px) {

    .containerArtikel{
        flex-direction: column;
    }

    .mortaraArtikel img {
        max-width: 25%;
        margin-top: 20px;
    }

    .textArtikel p {
        width: 100%;
        padding: 40px;
    }

    .embedInstagram {
        display: flex;
    }
}

@media (max-width : 700px) {

    .containerArtikel {
        flex-direction: column;
    }

    .mortaraArtikel img {
        max-width: 25%;
        margin-top: 20px;
    }

    .textArtikel p {
        width: 100%;
        padding: 40px;
    }

    .embedInstagram {
        display: flex;
        width: 100%;
    }

    .sliderArtikel {
        width: 90%;
    }
}

@media (max-width : 600px) {

    .containerArtikel {
        flex-direction: column;
    }

    .mortaraArtikel img {
        max-width: 30%;
        margin-top: 20px;
    }
    
    .textArtikel p {
        width: 100%;
        padding: 40px;
    }

    .embedInstagram {
        width: 110%;
        display: flex;
    }

    .sliderArtikel {
        width: 100%;
    }
}

@media (max-width : 500px) {

    .containerArtikel{
        flex-direction: column;
    }

    .mortaraArtikel img{
        max-width: 40%;
    }

    .textArtikel p {
        width: 100%;
        padding: 30px;
    }

    .embedInstagram {
        width: 100%;
        display: flex;
    }
}