.contArtikel{
    padding: 0;
}

.containerArtikel {
    display: flex;
    margin-top: 100px;
}

.mortaraArtikel img{
    position: relative;
    max-width: 70%;
    top: 80%;
}

.textArtikel p {
    position: relative;
    width: 70%;
    top: 50%;
}

.taglineArtikel p {
    font-size: 20px;
    text-align: end;
    letter-spacing: .1em;
}

.embedInstagram {
    width: auto;
    background-color: #F4EDE1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

@media (max-width : 500px) {

    .containerArtikel {
        flex-direction: column;
    }

    .mortaraArtikel img{
        max-width: 35%;
        padding: 15px;
    }

    .textArtikel p {
        width: 100%;
        /* margin-top: 30px; */
        padding: 20px;
    }

    .embedInstagram {
        width: 100%;
    }

    .embedInstagram .elfsight-app-b507292a-74b4-4f15-b347-5adc8613d534{
        max-width: 100%;
    }

    .sliderArtikel {
        width: 100%;
    }
}