.bg-contact {
    background-image: url(../img/bg-contact.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.bg-contact h1 {
    position: relative;
    top: 70px;
    color: white;
    padding: 50px;
    font-size: 50px;
    letter-spacing: .1em;
}

.bg-contact h1{
    text-align: end;
}

.content-contact {
    margin-top: 7%;
    display: flex;
    color: white;
    justify-content: space-evenly;
}

.address {
    width: 20%;
    padding: 30px;
    height: 500px;
    background-color: rgb(255, 255, 255, 0.5);
    color: white;
    border-radius: 40px;
    letter-spacing: .1em;
}
.formAddress h3{
    font-size: 40px;
    letter-spacing: .1em;
}
.form-contact {
    background: none;
    border-top: none;
    border-bottom: 2px solid white;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.form-contact:focus,
.form-contact:active {
    background: none;
    outline: none !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}
.form-contact[type='text']:focus,
.form-contact[type='text']:valid,
.form-contact[type='number']:focus,
.form-contact[type='number']:valid,
.form-contact[type='textarea']:focus,
.form-contact[type='textarea']:valid
{
    color: white;
}

.container-form {
    gap: 100px;
}
.label {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .1em;
    color: white;
}
