* {
    padding: 0;
    margin: 0;
}

.outerNav{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}

.Logo {
    padding: 10px;
    scale: 1;
    transition: all .3s ease-in-out;
    font-size: large;
}
.Logo:focus {
    /* color: white; */
    border: .5px solid #000;
    border-radius: 10px;
    scale: 1.1;
}

.navigasi {
    padding: 5px;
    scale: 1;
    /* transition: all 1s ease-in-out; */
}

.navigasi:focus {
    border-bottom: .5px solid #000;
    scale: 1.1;
    color: white;
}

.navigasi:hover {
    border: none;
    border-radius: 7px;
    color: white;
    background-color: #6c757d;
    scale: 1;
}

.content1 {
    padding: 0;
    width: 100%;
    height: 100%;
}
.Image {
    background-image: url(../img/baner1.png);
    width: 102%;
    height: 1080px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    text-align: start;
    z-index: 0;
}

.container-image{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
    overflow: hidden;
}

.paragraf {
    text-align: start;
    margin-top: 23%;
    width: 85%;
}
 
.paragraf h1 {
    font-size: 60px;
    color: white;
    line-height: 70px;
    letter-spacing: .2em;
}

.Link {
    position: fixed;
    margin-top: 30%;
    margin-left: 90%;
    z-index: 99;
}

.Link a {
    text-decoration: none;
}

.Link a i{
    color: white;
    font-size: 35px;
}

.Link a i:hover{
    transform: scale(1.5);
}

.tag {
    margin-top: 35%;
    color: white;
}

.whyMortara {
    display: flex;
    padding: 60px 0 0 20px;
}

.container-header .logoMortara {
    max-width: auto;
}

.container-body h1 {
    padding: 0;
    font-size: 50px;
    margin-top: 100px;
    text-align: start;
    letter-spacing: .1em;
}

.container-body p {
    font-size: 25px;
    width: 80%;
    letter-spacing: .1em;
}

.image-container .container {
    display: flex;
    flex-direction: column;
    text-align: end;
}
.image-container .container h3{
    font-size: 25px;
}

.content2 {
    padding: 0;
}

.hero {
    background-image: url(../img/bg2.png);
    background-position: center;
    background-size: cover;
    height: 1080px;
    margin-top: 50px;
    overflow: hidden;
}

.content-hero {
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
}

.hero h1 {
    color: white;
    font-size: 70px;
    margin-top: 30%;
    letter-spacing: .2em;
    text-align: center;
}

.testimoni {
    background-image: url(../img/bg-testi.png);
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 50px;
}

.reviews {
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    /* height: 400px; */
}