* {
    padding: 0;
    margin: 0;
}

.Logo {
    padding: 10px;
    scale: 1;
    transition: all .3s ease-in-out;
    font-size: large;
}

.Logo:focus {
    /* color: white; */
    border: .5px solid #000;
    border-radius: 10px;
    scale: 1.1;
}
.Logo img {
    max-width: 50%;
}

.Navbar {
    width: 100%;
}

.closeBtn:hover i{
    color: grey;
    font-size: 27px;
    transition: all .1s;
}

.closeBtn{
    font-size: 25px;
}

.content1 {
    padding: 0;
    width: 100%;
    height: 100%;
}
.Image {
    background-image: url(../img/baner1.jpg);
    width: 100%;
    height: 1080px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    text-align: start;
    z-index: 0;
    margin-top: -15px;
}

.container-image{
    display: flex;
    /* text-align: center; */
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
    overflow: hidden;
}

.paragraf {
    text-align: start;
    margin-top: 23%;
    width: 85%;
}
 
.paragraf h1 {
    font-size: 60px;
    color: white;
    line-height: 70px;
    letter-spacing: .1em;
}

.Link {
    position: fixed;
    margin-top: 30%;
    margin-left: 90%;
    z-index: 99;
}

.Link a {
    text-decoration: none;
}

.Link a i{
    color: white;
    font-size: 35px;
}

.Link a i:hover{
    transform: scale(1.5);
}

.tagLine {
    margin-top: 35%;
    color: white;
}

.content2 {
    padding: 0;
    max-width: 100%;
    background: #fff;
}

.whyMortara {
    display: flex;
    padding: 60px 0 0 20px;
}

.container-header .logoMortara {
    max-width: auto;
}

.container-body h1 {
    padding: 0;
    font-size: 50px;
    margin-top: 100px;
    text-align: start;
    letter-spacing: .1em;
}

.container-body p {
    font-size: 25px;
    width: 100%;
    letter-spacing: .1em;
}

.image-container .imgMortara {
    display: flex;
    flex-direction: column;
    text-align: end;
}

.image-container .container h3{
    font-size: 25px;
}

.hero {
    background-image: url(../img/bg2.png);
    background-position: center;
    background-size: cover;
    height: 1080px;
    margin-top: 50px;
    overflow: hidden;
}

.content-hero {
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
}

.hero h1 {
    color: white;
    font-size: 70px;
    position: relative;
    top: 50%;
    letter-spacing: .1em;
    text-align: center;
}

.testimoni {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 50px;
}

.reviews {
    background-color: white;
    width: 100%;
    /* height: 400px; */
}

/* FOOTER */
.containerForm {
    display: flex;
    justify-content: space-around;
    background-image: url(../img/bg-footer.jpg);
    background-position: center;
    background-size: cover;
}

.form {
    max-width: 100%;
}

.titleForm {
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: .1em;
}

.form-control {
    max-width: 100%;
}

.form-group {
    max-width: 100%;
}

.location-footer {
    line-height: 20px;
}

.location-footer h3 {
    font-size: 30px;
}

.btnForm {
    background-color: transparent;
    outline: transparent;
    outline-color: transparent;
    padding: 10px;
    color: black;
    border-radius: 5px;
}

.btnForm:hover {
    background-color: #333;
}

.btnForm:focus {
    outline: transparent;
    outline-color: transparent;
}

@media (max-width : 1080px){
    .paragraf {
        margin-top: 50%;
        padding: 20px;
    }

    .tagLine {
        margin-top: 90%;
        margin-right: 40px;
    }

    .Link { 
        margin-top: 70%;
    }

    .whyMortara {
        flex-direction: column;
    }

    .logoMortara{
        max-width: 25%;
    }
}

@media (max-width : 800px){

    .tagLine {
        margin-top: 110%;
    }

    .Link {
        margin-top: 95%;
        margin-right: 40px;
    }
}

@media (max-width : 700px){

    .Navbar {
        width: 100%;
    }

    .Image {
        width: 100%;
    }

    .paragraf {
        margin-top: 60%;
    }

    .tagLine {
        margin-top: 130%;
        margin-right: 40px;
    }

    .Link { 
        margin-top: 100%;
        margin-right: 40px;
    }

    .whyMortara {
        flex-direction: column;
    }

    .whyMortara {
        width: 100%;
    }

    .hero {
        width: 100%;
    }

    .logoMortara{
        max-width: 30%;
    }
    
    .hero h1 {
        margin-top: 50%;
    }


    .testimoni {
        width: 100%;
    }

    .containerForm {
        flex-direction: column;
        width: 110%;
    }

}

@media (max-width : 800px) {

    .location-footer h3 {
        font-size: 20px;
    }

    .location-footer {
        font-size: 16px;
    }
}

@media (max-width : 600px) {

    .Image {
        width: 110%;
        height: 800px;
    }

    .paragraf {
        margin-top: 40%;
    }

    .tagLine {
        margin-top: 110%;
        margin-right: 40px;
    }

    .Link {
        margin-top: 90%;
    }

    .whyMortara {
        width: 110%;
    }

    .hero {
        width: 110%;
        height: 600px;
    }

    .hero h1 {
        font-size: 50px;
        top: 10%;
    }

    .testimoni {
        width: 110%;
    }

    .containerForm {
        flex-direction: column;
        width: 110%;
    }
}

@media (max-width : 500px) {

    .Navbar {
        width: 100%;
    }

    .Logo img {
        max-width: 40%;
        display: none;
    }

    .Image {
        width: 100%;
        height: 600px;
        margin-top: 60px;
    }

    .paragraf {
        text-align: start;
        margin-top: 40%;
        width: 100%;
    }

    .paragraf h1 {
        font-size: 40px;
        line-height: 50px;
        letter-spacing: .1em;
        padding: 10px;
    }

    .tagLine {
        margin-top: 100%;
        margin-right: 40px;
    }

    .Link { 
        margin-top: 80%;
        margin-right: 40px;
    }

    .content2{
        padding: 0;
    }

    .whyMortara {
        flex-direction: column;
        width: 100%;
    }

    .logoMortara{
        max-width: 30%;
    }

    .container-body h1 {
        margin-top: 50px;
    }

    .container-body p {
        font-size: 20px;
        width: 95%;
        letter-spacing: .1em;
    }

    .image-container .imgMortara h3{
        font-size: 20px;
    }

    .hero {
        width: 100%;
        height: 600px;
    }

    .hero h1 {
        font-size: 50px;
        margin-top: 50%;
    }
    
    .testimoni {
        width: 100%;
    }

    .containerForm {
        flex-direction: column;
        width: 100%;
    }

    .labelFooter {
        display: none;
    }

    .inputName{
        margin-top: 20px;
    }

    .location-footer h3 {
        font-size: 25px;
    }

    .location-footer {
        font-size: 16px;
    }
}

@media (max-width : 400px) {


    .Navbar {
        width: 100%;
    }

    .Logo img {
        display: none;
    }

    .Image {
        margin-top: 70px;
    }

    .paragraf {
        padding: 0px 0px 0px 50px;
    }

    .tagLine {
        margin-top: 150%;
        margin-right: 60px;
    }

    .Link { 
        margin-top: 100%;
        margin-right: 50px;
    }

    .titleForm {
        font-size: 25px;
    }
}
